.row
  .span6
    form.form-horizontal(action='/login', method='POST')
      fieldset
        legend Login
        .control-group
          .controls
            a(href='/auth/facebook', style='border: 0px')
              img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/facebook_64.png')
            a(href='/auth/twitter', style='border: 0px')
              img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/twitter_64.png')
            a(href='/auth/github', style='border: 0px')
              img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/github_64.png')
            a(href='/auth/google', style='border: 0px')
              img(style='border: 0px', src='http://github.com/intridea/authbuttons/raw/master/png/google_64.png')
        - if ('undefined' !== typeof errors && errors.length)
          .control-group
            - each error in errors
              .alert.alert-error.fade.in
                a.close(data-dismiss='alert',href='#') x
                strong= error
        .control-group
          label.control-label(for=everyauth.password.loginFormFieldName) E-mail
          .controls
            .input-prepend
              span.add-on
                i.icon-envelope
              input.span2(type='text', name=everyauth.password.loginFormFieldName, value=email)
        .control-group
          label.control-label(for=everyauth.password.passwordFormFieldName) Password
          .controls
            .input-prepend
              span.add-on
                i.icon-lock
              input.span2(type='password', name=everyauth.password.passwordFormFieldName)
        .form-actions
          button.btn.btn-primary(type='submit') Login